@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", "Fira Code";
    list-style: none;
}

html, body, #app {
    height: 100%;
}

body {
    background-color: #f6f6f6;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.w800 {
    width: 800px;
}

.w380 {
    width: 380px;
}

.g_flex {
    display: flex;
}

.g_bg_fff {
    background-color: #fff;
}

.g_mt_20 {
    margin-top: 20px;
}

.article_text_tip {
    width: 540px;
    color: #666;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}